

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background: url(../img/fondo.jpg);
    background-size: cover;
    height: 100vh;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

.titulo{
    font-size: 20px;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-right: 25px;
}

#titular{
    text-align: center;
    margin-top: 200px;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    background: #5cb8ff;
    padding: 20px 30px;
    border-radius: 8px;
}

h1{
    font-size: 60px;
    margin: 0;
}

h2{
    font-size: 25px;
    margin-bottom: 40px;
}