

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background: url(../img/fondo.jpg);
    background-size: cover;
    height: 100vh;
}

.contenedor{
    max-width: 1280px;
    width: 90%;
    margin: auto;
}

.titulo{
    font-size: 20px;
}

#menu{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-right: 25px;
}

#titular{
    text-align: center;
    margin-top: 200px;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    background: #5cb8ff;
    padding: 20px 30px;
    border-radius: 8px;
}

h1{
    font-size: 60px;
    margin: 0;
}

h2{
    font-size: 25px;
    margin-bottom: 40px;
}

/* SECCIÓN SOBRE MÍ*/

h3{
    text-align: center;
    font-size: 55px;
    font-weight: normal;
}

.container-sobre-mi{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-info-sobre-mi{
    display: block;
    width: 42%;
}

.container-info-sobre-mi p{
    font-size: 18px;
}

.container-info-sobre-mi a{
    display: inline-block;
    margin-top: 20px;
}

/* SECCIÓN SERVICIOS*/
.contenedor-servicios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicio{
    width: 25%;
    padding: 50px 38px;
    border-radius: 10px;
    margin-bottom: 40px;
    color: #fff;
}

.servicio h4{
    font-size: 30px;
    margin: 0;
}

.violeta{
    background: #5055df;
}

.celeste{
    background: #40a8fa;
}

.servicio img{
    float: right;
}

.servicio p{
    font-size: 18px;
    font-weight: 300;
}